
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    
    font-family:  'Roboto', sans-serif ;
    font-weight: 300;
    line-height: 1.6;
    background-color: rgb(221, 221, 221);

    height: 150vh;
    // width: 120vw;

}

.container{
    box-shadow: 2px 0 1rem crimson;
    height: 140vh;
    max-width: 100vw;
    margin: 2rem auto;
    // background-color: rgba(255, 255, 255, 0.767);
    background-color: #fff;

    display: grid;
    grid-template-rows: 10vh 130vh;
    grid-template-columns: 5vw 1fr 22vw;

}

.logo{
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg{
        width: 3rem;
        height: 5rem;
    }
}