.main{
    background-color: rgb(248, 248, 248);
    padding: 1.5rem;
    font-size: 1.2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 43% 10% 43%;
    grid-gap: 1.5rem;

    &__card{
        display: flex;
        flex-direction: column;

        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);

        &--1{
           grid-row: 1 / 2;
           grid-column: 1 / 2;
        }
        &--2{
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }
        &--3{
            grid-row: 1 / 2;
            grid-column: 3 / 4; 
        }
        &--4{
            grid-row: 2 / 4;
            grid-column: 1 / 2;
        }
        &--5{
            grid-row: 3 / 4 ;
            grid-column: 2 / 3;
        }
        &--6{
            grid-row: 2 / 4 ;
            grid-column: 3 / 4;
        }
    }

    &__profile,&__likes{
        padding: .5rem 1rem;
    }

    &__img{
        height: 60%;
        overflow: hidden;
        border-radius: 2rem;
        &--1{ 
            height: 100%;
            width: 100%;
            object-fit:cover;
            object-position: 40% 40%;
            display: block;
        }
    }
    &__bookmark{
        padding: .5rem 1rem;
        & > :last-child{
            text-align: end;
            flex-basis: 60%;
        }
    }
    &__comments{
        padding: .5rem 1rem;
        p{
            margin-left: 5px;
        }
    }

}