.header{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;

    &__right{
        width: 20rem;
        background-color: rgb(241, 241, 241);

    }
    &__input{
        border: none;
        background-color: transparent;
        &::placeholder{
             color: rgba(0,0,0,0.4);
        }
     }

}