.sidebar{
    position: relative;
    grid-area: 1 / 1 / -1 / 2;
    z-index: 20;
    border-right: 1px solid rgba(0,0,0,0.1);

    justify-content: flex-end;

    &__side{
        position: absolute;
        height: 8rem;
        width: 4rem;
        border-radius: 1.2rem;
        top: 45%;
        right: -.5rem;
        background: linear-gradient(90deg, transparent 60%, #fff 40%);
        z-index: 10;
        border-right: 1px solid rgba(0,0,0,0.1);
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    &__icon-box{
        flex-basis: 65%;
    }
    &__icon{
        height: 3.5rem;
        width: 3.5rem;
    }

    & > :last-child{
        flex-basis: 20%;

        display: flex;
        align-items: flex-end;
    }
}