.user{
    border-left: 1px solid rgba(0,0,0,0.1);
    grid-area: 1 / 3 / -1 / 4;

    display: grid;
    grid-row-gap: 2rem;
    

    & > :first-child{
       text-align: end;
    }

    &__profile{
        & > :first-child{
            height: 9rem;
            width: 9rem;
            outline: 2px solid purple;
            outline-offset: 2px;
        }
    }
    &__numbers{
        width: 100%;
        div{
            width: 33%;
            position: relative;
            // border: 2px solid crimson;
            &:not(:last-child){
                &::after{
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    background-color: black;
                    right: -5px;
                    top: 45%;
                }
            }
        }
    }
    &__link{
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(120, 120, 214);
    }
    &__btn-small{
        width: 8rem;
        height: 3rem;
        color: #fff;
        background-color: black;
    }
    &__btn-big{
        width: 100%;
        height: 4rem;
        color: white;
        border-radius: 5px;
        background: linear-gradient(to bottom right, rgb(253, 35, 72) 30% ,rgb(255, 0, 0) 60%, rgb(255, 88, 88) 80%);
        box-shadow: 3px 0 10px crimson;
    }

   
    .play-all{
        border: 2px solid black;
        height: 100%;
        width: 100%;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            border: 8px solid transparent;
            border-left-color: black;
            top: 35%;
            left: 40%;
        }
    }

}