.heading-4{
    font-size: 1.3rem;
    font-weight: 800;
}
.heading-3{
    font-size: 1.5rem;
    font-weight: 800;
}

.heading-2{
    font-size: 1.7rem;
    font-weight: 800;}

.heading-1{
    font-size: 2.2rem;
    font-weight: 800;
}

.profile-pic{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    &-small{
        margin-left: -5px;
        border: 2px solid white;
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
    }

    &-medium{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

}

.fx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fx-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

// .fx-e{
//     display: flex;
//     justify-content: flex-end;
// }
.pd-1{padding: .5rem;}
.pd-2{padding: 2rem;}
.gp{gap: 1rem;}
.gp-sm{ gap: .5rem;}


.br-sm{border-radius: 1.5rem;}
.br-bg{border-radius: 2rem;}
.br-lg{border-radius: 50%;}
// .bt{border-top: 1px solid rgba(0,0,0,0.2); }


.icon-small{
    height: 3rem;
    width:  2rem;
    fill: rgba(0,0,0,0.8);
}

.fill-grey{fill: rgb(173, 172, 172);}
.fill-black{fill: black;}
.fill-red{fill: red;}


.fade{
    font-size: 1.2rem;
    color:black;
    opacity: 0.6;
}

.mg-sm{margin-bottom: 1rem;}
.mg-md{margin-bottom: 2rem;}


.ds-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: start;
    grid-column-gap: 1rem;

    & > :first-child{
        grid-row: 1 / -1;
    }

}

.grid{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 1rem;
}